{% extends 'base.html' %}

{% block content %}
    <div class="row text-center">
        <div class="col">
            <h1>Welcome to TweetMe</h1>
        </div>
    </div>

    <div class="row mb-3 d-none">
        <div class="col-md-4 mx-auto col-10">
            <form action="/create-tweet" id="tweet-create-form" method="POST">
                {% csrf_token %}
                <div class="d-none alert alert-danger" id="tweet-create-form-error"></div>
                <input type="hidden" value="/" name="next">
                <textarea required name="content" placeholder="Whats on your mind..." class="form-control"></textarea>
                <button type="submit" class="btn btn-primary">Tweet</button>
            </form>
        </div>
    </div>

    <div id="tweetme">

    </div>

    <div class='row d-none' id="tweets">
        Replace here
    </div>

    <script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const tweetCreateFormEl = document.getElementById("tweet-create-form");
    tweetCreateFormEl.addEventListener("submit", handleTweetCreateForm);

    const tweetsEl = document.getElementById("tweets");
    tweetsEl.innerHTML = "Loading...";

    function handleTweetCreateForm(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
        const url = form.getAttribute("action");
        const method = form.getAttribute("method");
        const xhr = new XMLHttpRequest();
        xhr.responseType = "json";
        xhr.open(method, url);
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhr.onload = function() {
            if (xhr.status === 201) {
                handleTweetCreateFormError("", false);
                const newTweetJson = xhr.response;
                const newTweetElement = formatTweetElement(newTweetJson);
                const ogHtml = tweetsEl.innerHTML;
                tweetsEl.innerHTML = newTweetElement + ogHtml;
                form.reset();
            } else if (xhr.status === 400) {
                const errorJson = xhr.response;
                const contentError = errorJson.content;
                let contentErrorMsg;
                if (contentError) {
                    contentErrorMsg = contentError[0];
                    if (contentErrorMsg) {
                        handleTweetCreateFormError(contentErrorMsg, true);
                    }
                } else {
                    alert("An error occurred");
                }
                console.log(contentErrorMsg);
            } else if (xhr.status === 401) {
                alert("You must login")
            }
        };
        xhr.onerror = function() {
            alert("An error occurred");
        };
        xhr.send(formData);
        console.log(event)
    }

    function handleTweetCreateFormError(msg, display) {
        const errorDiv = document.getElementById("tweet-create-form-error");
        if (display) {
            errorDiv.setAttribute("class", "d-block alert alert-danger");
            errorDiv.innerText = msg;
        } else {
            errorDiv.setAttribute("class", "d-none alert alert-danger");
            errorDiv.innerText = "";
        }
    }

    function loadTweets(tweetElement) {
        const xhr = new XMLHttpRequest();
        const method = "GET";
        const url = "/tweets";
        xhr.responseType = "json";
        xhr.open(method, url);
        xhr.onload = function() {
            const xhrResponse = xhr.response;
            const listedItem = xhrResponse;
            let finalTweetStr = "";
            for (let i=0; i<listedItem.length; i++) {
                const tweetObj = listedItem[i];
                const currentTweet = formatTweetElement(tweetObj);
                finalTweetStr += currentTweet;
            }
            tweetElement.innerHTML = finalTweetStr;
        };
        xhr.send();
    }

    loadTweets(tweetsEl);

    function handleTweetActionBtn(tweet_id, currentLike, action) {
        console.log(currentLike);
        const url = "/api/tweets/action";
        const method = "POST";
        const data = JSON.stringify({
            id: tweet_id,
            action: action
        });
        const xhr = new XMLHttpRequest();
        xhr.open(method, url);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        xhr.load = function() {
            loadTweets(tweetsEl);
        };
        xhr.send(data);
    }

    function likeBtn(tweet) {
        return "<button class='btn btn-primary btn-sm' onClick=handleTweetActionBtn(" + tweet.id + "," + tweet.likes + ",'like')>" +
            tweet.likes + " Like" +
            "</button>";
    }

    function unlikeBtn(tweet) {
        return "<button class='btn btn-outline-primary btn-sm' onClick=handleTweetActionBtn(" + tweet.id + "," + tweet.likes + ",'unlike')>" +
            " Unlike" +
            "</button>";
    }

    function retweetBtn(tweet) {
        return "<button class='btn btn-outline-success btn-sm' onClick=handleTweetActionBtn(" + tweet.id + "," + tweet.likes + ",'retweet')>" +
            " Retweet" +
            "</button>";
    }

    function formatTweetElement(tweet) {
        var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-3' id='tweet-" + tweet.id + "'>" +
            "<p>" + tweet.content + "</p>" +
            "<div class='btn-group'>" +
                likeBtn(tweet) +
                unlikeBtn(tweet) +
                retweetBtn(tweet) +
            "</div>" +
            "</div>";
        return formattedTweet;
    }

    </script>
{% endblock content %}